<!-- app.component.html -->
<div class="row">


    <div class="col-4">
      <app-card>
      <div card-header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Angular Content Projection</mat-card-title>
          <mat-card-subtitle>Demo with Angular Material</mat-card-subtitle>
        </mat-card-header>
      </div>
    
      <div card-content class="content">
        <p>
           The card component is reusable and can project dynamic content.
        </p>
      </div>
    
      <div card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </div>
  </app-card>

    </div>
    <div class="col-4">
      <app-card>
      <div  card-header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Card using Angular Projection</mat-card-title>
          <mat-card-subtitle>Content projection demo</mat-card-subtitle>
        </mat-card-header>
      </div>
    
      <div card-content class="content">
        <p>
          This is an example of content projection in Angular.
        </p>
      </div>
    
      <div card-actions>
        <button mat-button>👍</button>
        <button mat-button>🤝</button>
      </div>
    </app-card>

    </div>
   
</div>
