<!-- <app-data-binding/> -->
<!-- <app-directives-tutorial/> -->
<!-- <app-counter/>
 -->
 <!-- <app-parent/> -->
 <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" routerLink="">Angular Tutorials</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
            <a class="nav-link" routerLink="crud">UserManagement <span class="sr-only"></span></a>
          </li> -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="login">Login <span class="sr-only"></span></a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="lifecycle">LifeCycle <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signals">Signals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="directives">Directives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="databinding">Databinding</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="parent">Data Sharing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contentproj">Content Projection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipe">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="forms">Forms</a>
          </li>
      </ul>
    </div>
  </nav>
 
<router-outlet />
